<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">
    <!--使用注解驱动-->
    <mvc:annotation-driven></mvc:annotation-driven>
    <!--定义扫描装载的包-->
    <context:component-scan base-package="com.ssm.code"></context:component-scan>
    <!--视图解析器-->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/html/"></property>
        <property name="suffix" value=".html"></property>
    </bean>

    <!--静态资源过滤-->
    <mvc:resources mapping="/html/**" location="/html/"></mvc:resources>
    <mvc:resources mapping="/js/**" location="/js/"></mvc:resources>
    <mvc:resources mapping="/css/**" location="/css/"></mvc:resources>
    <mvc:resources mapping="/imgs/**" location="/imgs/"></mvc:resources>
    <mvc:resources mapping="/iconfont/**" location="/iconfont/"></mvc:resources>
    <mvc:resources mapping="/iconfont2/**" location="/iconfont2/"></mvc:resources>
    <mvc:resources mapping="/scripts/**" location="/scripts/"></mvc:resources>
</beans>